[submodule "frontend"]
	path = frontend
	url = git@github.com:Ramilko37/fortis-front.git
[submodule "backend"]
	path = backend
	url = git@github.com:we-are-komanda/fortis-back.git
	branch = develop
[submodule "knowledge-base"]
	path = knowledge-base
	url = git@github.com:we-are-komanda/fortis-knowledge-base.git
